:root {
  --primary-0: #eceaff;
  --primary-1-lt: #8c00ff;
  --primary-1-dk: #6d00c6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-0);
}

main {
  height: 100vh; 
  width: 100vw;
  /* padding: 0 1rem; */
}

.m {
  margin: 0 1rem;
}

.mt {
  margin-top: 1rem;
}

.center {
  display: flex;
  justify-content: center;
}

.mb {
  margin-bottom: 1rem;
}

.container {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0;
  justify-content: center;
  align-items: center;
}

.flex-col {
  justify-content: space-between;
  padding-inline: 2rem;
}

.links {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.white-box {
  /* width: 50%; */
  margin: 1rem 0;

  /* line-height: 3;
  background-color: rgba(255,255,255,0.5);
  padding: 1rem;
  border-radius: 5px; */
}

/* .fixed {
  position: sticky;
  bottom: 1rem;
} */

.btn {
  border: none;
  border-radius: 5px;
  color: white;
  background: var(--primary-1-lt);
  padding: 0.5rem 1rem;
  transition: 0.4s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-1-dk);
}

.resetBtn {
  background-color: white;
  color: var(--primary-1-lt);
  border: 1px solid var(--primary-1-lt);
}

.resetBtn:hover {
  background-color: var(--primary-1-lt);
  color: white;
}